[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
geopandas = "*"
matplotlib = "*"
pandas = "*"
descartes = "*"
pysal = "*"
geopy = "*"
"bs4" = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.6"
